:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-light: #ffffff;
  --primary-text-color-theme-gray: #757575;
  --secondary-text-color-theme-dark: #2F303A;
  --accent-color: #2196F3;
  --secondary-color: #F5F4FA;
  --secondary-color-light: #FFFFFF;
  --secondary-color-with: #EEEEEE;
  --secondary-color-dark: #000000;
  --color-bgc: #188CE8;
  --color-gray: #AFB1B8;
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu__link.current {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  background: var(--secondary-text-color-theme-light);
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration-function), visibility var(--transition-duration-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
  .mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
    background-color: #2196F3;
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover .modal-close-icon,
.mobile-menu__close-btn:focus .modal-close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__navigation-list {
    list-style: none;
    margin-bottom: auto;
  }
  .mobile-menu__navigation-item:not(:last-child),
.mobile-menu__contacts-item:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu__navigation-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
  }
  .mobile-menu__navigation-link--current {
    color: #2196f3;
  }
  .mobile-menu__contacts-list {
    list-style: none;
    margin-top: 60px;
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mobile-menu__contacts-link--blue {
    font-size: 34px;
    line-height: 40px;
    color: #2196F3;
  }
  .mobile-menu__contacts-link--grey {
    font-size: 24px;
    line-height: 28px;
    color: #757575;
  }
  .mobile-menu__socials-list {
    display: flex;
    list-style: none;
  }
  .mobile-menu__socials-item {
    padding-right: 10px;
  }
  .mobile-menu__socials-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  .mobile-menu__socials-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.section-shapka__btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 200px;
  left: 140px;
  top: 292px;
  transition: bakground-color var(--transition-duration-function), filter var(--transition-duration-function);
}
.section-shapka__btn:hover, .section-shapka__btn:focus {
  background-color: var(--color-bgc);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-shapka__btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-light);
}

@media screen and (min-width: 768px) {
  .section-shapka__btn {
    left: 284px;
    top: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .section-shapka__btn {
    width: 216px;
    left: 692px;
    top: 430px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: var(--secondary-color-light);
  border-radius: 4px;
  transition: transform var(--transition-duration-function);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition-duration-function), fill var(--transition-duration-function);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  fill: var(--secondary-color-dark);
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
.modal-form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  width: 370px;
  height: 60px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-gray);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-function);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color var(--transition-duration-function);
}

.icon {
  fill: var(--primary-text-color-theme-dark);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-duration-function);
}
.modal-form-message::-moz-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-gray);
  height: 15px;
}

.modal-form-check-policy-link {
  color: var(--accent-color);
}

.modal-form-check {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-own-checkbox {
  cursor: pointer;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid #303030;
  transition: background-color var(--transition-duration-function);
}

.modal-form-own-checkbox-border {
  cursor: pointer;
  position: absolute;
  color: var(--primary-text-color);
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--secondary-text-color-theme-light);
}

.modal-form-button {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color-light);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  transition: background-color var(--transition-duration-function), background-color var(--transition-duration-function);
}
.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .modal-form-title {
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    height: 23px;
  }
  .modal-form-check-field {
    font-size: 14px;
    line-height: 1.71;
    height: 24px;
  }
}
.container-filters {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.filters {
  border-radius: 4px;
  border: none;
  border: 1px solid var(--secondary-color-with);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  align-items: center;
  color: var(--primary-text-color-theme-dark);
  padding: 6px 22px;
  transition: color var(--transition-duration-function), background-color var(--transition-duration-function), box-shadow var(--transition-duration-function), border-color var(--transition-duration-function);
}
.filters:active, .filters:hover, .filters:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: var(--accent-color);
}

.footer-main {
  margin-right: 0;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.6);
}

.footer-main__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: center;
}

.footer-main__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main__input {
  width: 100%;
  height: 50px;
  color: var(--secondary-text-color-theme-light);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-text-color-theme-dark);
  padding: 15px 16px;
  margin-bottom: 20px;
  transition: border-color var(--transition-duration-function);
}
.footer-main__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  max-width: 200px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-light);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main__icon {
  margin-left: 10px;
  fill: var(--secondary-color-light);
}

@media screen and (min-width: 480px) {
  .footer-main__input {
    width: 450px;
  }
  .footer-main__button {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .footer-main__button {
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-main__input {
    width: 450px;
  }
  .footer-main__title {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    margin-right: 0;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-main__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 20px;
    margin-top: 0;
    text-align: left;
  }
  .footer-main__label {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
  .footer-main__input {
    width: 358px;
    height: 50px;
    color: var(--secondary-text-color-theme-light);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--secondary-text-color-theme-dark);
    padding: 15px 16px;
    transition: border-color var(--transition-duration-function);
  }
  .footer-main__input:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  .footer-main__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-light);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }
  .footer-main__icon {
    margin-left: 10px;
    fill: var(--secondary-color-light);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  .menu__link {
    display: none;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
  }
  .logo-header {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
    color: var(--secondary-color-dark);
  }
  .logo-header__part1 {
    color: var(--accent-color);
  }
  .contact__link {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .menu__link {
    display: none;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
  }
  .logo-header {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
    color: var(--secondary-color-dark);
  }
  .logo-header__part1 {
    color: var(--accent-color);
  }
  .contact__link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .logo-header {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1666666667;
    color: var(--secondary-color-dark);
    margin-right: 87px;
    letter-spacing: 0.03em;
  }
  .logo-header__part1 {
    color: var(--accent-color);
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 96px;
  }
  .menu__link {
    display: flex;
    align-items: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-duration-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.caren-studio::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
    top: 44px;
    transition: color var(--transition-duration-function);
  }
  .menu__item {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .contact__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .page-header__contact-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 138px;
    height: 14px;
    transition: color var(--transition-duration-function);
  }
  .page-header__contact-mail:hover, .page-header__contact-mail:focus {
    color: var(--accent-color);
  }
  .page-header__contact-mail:hover .page-header__icon-mail, .page-header__contact-mail:focus .page-header__icon-mail {
    fill: currentColor;
  }
  .page-header__contact-phone-number {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 123px;
    height: 14px;
    transition: color var(--transition-duration-function);
  }
  .page-header__contact-phone-number:hover, .page-header__contact-phone-number:focus {
    color: var(--accent-color);
  }
  .page-header__contact-phone-number:hover .page-header__icon-mobile, .page-header__contact-phone-number:focus .page-header__icon-mobile {
    fill: currentColor;
  }
  .page-header__contact-mail,
.page-header__contact-phone-number {
    color: var(--primary-text-color-theme-gray);
  }
  .page-header__icon-mail {
    content: "";
    width: 14px;
    height: 10px;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
  }
  .page-header__icon-mobile {
    width: 10px;
    height: 14px;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .logo-header {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    color: var(--secondary-color-dark);
    margin-right: 93px;
  }
  .logo-header__part1 {
    color: var(--accent-color);
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    margin-right: 318px;
  }
  .menu__link {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-duration-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.caren-studio::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
    top: 44px;
    transition: color var(--transition-duration-function);
  }
  .menu__item {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .contact__item {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .contact__link {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-duration-function);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__link.caren-studio::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;
    top: 44px;
    transition: color var(--transition-duration-function);
  }
  .page-header__contact-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 161px;
    height: 16px;
    transition: color var(--transition-duration-function);
  }
  .page-header__contact-mail:hover, .page-header__contact-mail:focus {
    color: var(--accent-color);
  }
  .page-header__contact-mail:hover .page-header__icon-mail, .page-header__contact-mail:focus .page-header__icon-mail {
    fill: currentColor;
  }
  .page-header__contact-phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    width: 142px;
    height: 16px;
    transition: color var(--transition-duration-function);
  }
  .page-header__contact-phone-number:hover, .page-header__contact-phone-number:focus {
    color: var(--accent-color);
  }
  .page-header__contact-phone-number:hover .page-header__icon-mobile, .page-header__contact-phone-number:focus .page-header__icon-mobile {
    fill: currentColor;
  }
  .page-header__contact-mail,
.page-header__contact-phone-number {
    color: var(--primary-text-color-theme-gray);
  }
  .page-header__icon-mail {
    content: "";
    width: 100%;
    height: 100%;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
  }
  .page-header__icon-mobile {
    width: 100%;
    height: 100%;
    fill: var(--primary-text-color-theme-gray);
    transition: fill var(--transition-duration-function);
  }
}
@media screen and (min-width: 320px) {
  .section-shapka {
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background: var(--secondary-text-color-theme-dark);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/shapka.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .section-shapka__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .section-shapka__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 30px;
    width: 100%;
    border-radius: 0px;
  }
}
@media screen and (min-width: 480px) {
  .section-shapka {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background: var(--secondary-text-color-theme-dark);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/shapka.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .section-shapka__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .section-shapka__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 30px;
    width: 100%;
    border-radius: 0px;
  }
}
@media screen and (min-width: 768px) {
  .section-shapka {
    max-width: 1199px;
  }
  .section-shapka__title {
    width: 360px;
    height: 84px;
    left: 204px;
    top: 198px;
  }
  .section-shapka {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/shapkatab.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-shapka {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/shapka-des.jpg");
    max-width: 1600px;
  }
  .section-shapka__title {
    font-size: 44px;
    line-height: 1.36;
    height: 120px;
    width: 696px;
    left: 452px;
    top: 280px;
  }
}
.osoblivosti {
  padding-top: 60px;
  padding-bottom: 60px;
}

.osoblivosti__container {
  width: 450px;
  height: 994px;
}

.osoblivosti__card {
  width: 450px;
  height: 226px;
  margin-bottom: 30px;
}

.osoblivosti__card-a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: var(--secondary-color);
  border-radius: 4px;
}

.osoblivosti__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(primary-text-color-theme-dark);
  margin-bottom: 10px;
  margin-top: 30px;
}

.osoblivosti__text {
  line-height: 1.71;
  color: var(--primary-text-color-theme-gray);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .osoblivosti__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 738px;
    height: 480px;
  }
  .osoblivosti__card {
    width: 354px;
    height: 224px;
    margin-bottom: 0px;
  }
  .osoblivosti__subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .osoblivosti {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .osoblivosti__container {
    display: flex;
    gap: 30px;
    width: 1170px;
    height: 248px;
  }
  .osoblivosti__card {
    width: 270px;
    height: 248px;
    flex-basis: calc((100% - 90px) / 4);
  }
  .osoblivosti__subtitle {
    text-align: left;
  }
  .osoblivosti__card-a {
    width: 270px;
    height: 120px;
  }
}
@media screen and (max-width: 767px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0px;
  }
  .work-list {
    display: flex;
    gap: 30px;
  }
  .work-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 50px;
  }
  .work-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay-work {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    top: 224px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-light);
    background: rgba(47, 48, 58, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
  }
}
.comanda {
  background: var(--secondary-color);
}

.comanda-container {
  min-width: 450px;
}

.comanda-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.comanda-our {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}

.comanda-fon {
  background: var(--secondary-text-color-theme-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comanda-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.comanda-profesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color-theme-gray);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 30px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--secondary-text-color-theme-light);
  transition: background-color var(--transition-duration-function), filter var(--transition-duration-function);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--secondary-text-color-theme-light);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-gray);
  transition: fill var(--transition-duration-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comanda-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comanda {
    background: var(--secondary-color);
  }
  .comanda-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
  .comanda-our {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    margin-bottom: 50px;
  }
  .comanda-fon {
    background: var(--secondary-text-color-theme-light);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .comanda-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1875;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .comanda-profesion {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--primary-text-color-theme-gray);
    margin-bottom: 16px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-bottom: 30px;
  }
  .social-list-item {
    width: 44px;
    height: 44px;
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--secondary-text-color-theme-light);
    transition: background-color var(--transition-duration-function), filter var(--transition-duration-function);
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: var(--secondary-text-color-theme-light);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: var(--color-gray);
    transition: fill var(--transition-duration-function);
  }
}
.client-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-list {
  flex-wrap: wrap;
  display: -webkit-box;
  gap: 30px;
}

.client-list-item {
  box-sizing: border-box;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  width: 210px;
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
.client-list-item:hover, .client-list-item:focus {
  border: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: border var(--transition-duration-function), border-color var(--transition-duration-function), fill var(--transition-duration-function);
}
.client-list-link:hover .client-list-icon, .client-list-link:focus .client-list-icon {
  fill: var(--accent-color);
}

.client-list-icon {
  fill: var(--color-gray);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list-item {
    width: 226px;
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    margin-bottom: 50px;
  }
  .client-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .client-list-item {
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    flex-basis: calc((100% - 150px) / 6);
  }
  .client-list-item:hover, .client-list-item:focus {
    border: 1px solid var(--accent-color);
    border-color: var(--accent-color);
  }
  .client-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: border var(--transition-duration-function), border-color var(--transition-duration-function), fill var(--transition-duration-function);
  }
  .client-list-link:hover .client-list-icon, .client-list-link:focus .client-list-icon {
    fill: var(--accent-color);
  }
  .client-list-icon {
    fill: var(--color-gray);
  }
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.portfolio-post {
  display: block;
  transition: box-shadow var(--transition-duration-function);
}
.portfolio-post:hover, .portfolio-post:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-post:hover .overlay, .portfolio-post:focus .overlay {
  transform: translateY(0%);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--secondary-color-light);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-duration-function);
}

.portfolio-box-mini {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--secondary-color-with);
  border-top: 0;
}

.portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-gray);
}

.portfolio-box {
  background: var(--secondary-color-light);
  flex-basis: calc((100% - 60px) / 3);
}

.page-footer {
  background: var(--secondary-text-color-theme-dark);
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 450px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: var(--secondary-text-color-theme-light);
  text-align: center;
}

.logo-footer__part1 {
  color: var(--accent-color);
}

.footer-contact {
  width: 100%;
  height: 79px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.contact {
  display: block;
  flex-direction: column;
}

.contact__menu:not(:nth-child(3)) {
  margin-bottom: 9px;
  text-align: center;
}

.contact__menu-map {
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-duration-function);
}
.contact__menu-map:hover, .contact__menu-map:focus {
  color: var(--accent-color);
}

.contact__menu-mail {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid var(--secondary-color-dark);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: color var(--transition-duration-function);
}
.contact__menu-mail:hover, .contact__menu-mail:focus {
  color: var(--accent-color);
}

.contact__menu-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration-function);
  text-align: center;
}
.contact__menu-tel:hover, .contact__menu-tel:focus {
  color: var(--accent-color);
}

.page-footer__container-soc {
  display: block;
}

.soc-name {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-color-light);
  margin-bottom: 20px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.footer-social-list__item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration-function);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color-light);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    -moz-column-gap: 165px;
         column-gap: 165px;
    justify-content: space-evenly;
    width: 650px;
    height: 140px;
    margin-bottom: 60px;
  }
  .logo-footer {
    display: block;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    color: var(--secondary-text-color-theme-light);
    height: 31px;
    left: 215px;
    top: 1688px;
    text-align: center;
  }
  .contact {
    display: block;
    flex-direction: column;
  }
  .contact__menu:not(:nth-child(3)) {
    margin-bottom: 9px;
    text-align: center;
  }
  .contact__menu-tel {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-foot {
    display: flex;
    align-items: baseline;
  }
  .page-footer {
    background: var(--secondary-text-color-theme-dark);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    min-width: 600px;
  }
  .logo-footer {
    display: block;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    color: var(--secondary-text-color-theme-light);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;
  }
  .logo-footer__part1 {
    color: var(--accent-color);
  }
  .footer-contact {
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 0px;
  }
  .contact {
    display: block;
    margin-right: 70px;
    flex-direction: column;
  }
  .contact__menu:not(:nth-child(3)) {
    margin-bottom: 9px;
    text-align: left;
  }
  .contact__menu-map {
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-duration-function);
  }
  .contact__menu-map:hover, .contact__menu-map:focus {
    color: var(--accent-color);
  }
  .contact__menu-mail {
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid var(--secondary-color-dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: color var(--transition-duration-function);
  }
  .contact__menu-mail:hover, .contact__menu-mail:focus {
    color: var(--accent-color);
  }
  .contact__menu-tel {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration-function);
    text-align: left;
  }
  .contact__menu-tel:hover, .contact__menu-tel:focus {
    color: var(--accent-color);
  }
  .page-footer__container-soc {
    display: block;
  }
  .soc-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-color-light);
    margin-bottom: 20px;
    text-align: left;
  }
  .footer-social-list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .footer-social-list__item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .footer-social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration-function);
  }
  .footer-social-list__link:hover, .footer-social-list__link:focus {
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .footer-social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color-light);
  }
}/*# sourceMappingURL=main.css.map */