

.client-name {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;            
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.client-list {
    
    flex-wrap: wrap;
    display: -webkit-box;
    gap: 30px;
}

.client-list-item {
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    width: 210px;
    height: 92px;
    flex-basis: calc((100% - 30px)/2);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        border-color: var(--accent-color);
    }
}

.client-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: border var(--transition-duration-function), border-color var(--transition-duration-function), fill var(--transition-duration-function);

    &:hover .client-list-icon,
    &:focus .client-list-icon {
        fill: var(--accent-color);
    }
}

.client-list-icon {
    fill: var(--color-gray);
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .client-list-item {
        width: 226px;
        flex-basis: calc((100% - 60px)/3);
    }
}

@media screen and (min-width: 1200px) {
    .client-name {
        @include font(36px, 700, 42px);
        text-align: center;
        margin-bottom: 50px;
    }
    
    .client-list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .client-list-item {
        box-sizing: border-box;
        border: 1px solid var(--color-gray);
        border-radius: 4px;
        width: 170px;
        height: 92px;
        flex-basis: calc((100% - 150px)/6);
    
        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
            border-color: var(--accent-color);
        }
    }
    
    .client-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: border var(--transition-duration-function), border-color var(--transition-duration-function), fill var(--transition-duration-function);
    
        &:hover .client-list-icon,
        &:focus .client-list-icon {
            fill: var(--accent-color);
        }
    }
    
    .client-list-icon {
        fill: var(--color-gray);
    }
}