.container-footer {
    
}

.page-footer {
    background: var(--secondary-text-color-theme-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 450px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    @include font(26px, 700, 31px);
    color: var(--secondary-text-color-theme-light);
    text-align: center;
}

.logo-footer__part1 {
    color: var(--accent-color);
}

.footer-contact {
    width: 100%;
    height: 79px;
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.contact {
    display: block;  
    flex-direction: column;
}

.contact__menu:not(:nth-child(3)) {
    margin-bottom: 9px;
    text-align: center;
}


.contact__menu-map {
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__menu-mail {
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid var(--secondary-color-dark);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    transition: color var(--transition-duration-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.contact__menu-tel {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration-function);
    text-align: center;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.page-footer__container-soc {
    display: block;
}

.soc-name {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-color-light);
    margin-bottom: 20px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.footer-social-list__item {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.footer-social-list__icon {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color-light);
}

@media screen and (min-width: 768px) and (max-width: 1199px) { 
    
    
    .container-footer {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        column-gap: 165px;
        justify-content: space-evenly;
        width: 650px;
        height: 140px;
        margin-bottom: 60px;
    }
        
    .logo-footer {
        display: block;
        font-family: var(--secondary-font);
        @include font(26px, 700, 31px);
        color: var(--secondary-text-color-theme-light);
        height: 31px;
        left: 215px;
        top: 1688px;
        text-align: center;
    }
    
    .contact {
        display: block;
        flex-direction: column;
    }
    
    .contact__menu:not(:nth-child(3)) {
        margin-bottom: 9px;
        text-align: center;
    }    
    
    .contact__menu-tel {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .container-foot {
        display: flex;
        align-items: baseline;
    }
    
    .page-footer {
        background: var(--secondary-text-color-theme-dark);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .container-footer {
        display: flex;
        align-items: baseline;
        min-width: 600px;
    }
    
    
    .logo-footer {
        display: block;
        font-family: var(--secondary-font);
        @include font(26px, 700, 31px);
        color: var(--secondary-text-color-theme-light);
        width: 145px;
        height: 31px;
        left: 215px;
        top: 1688px;
    }
    
    .logo-footer__part1 {
        color: var(--accent-color);
    }
    
    .footer-contact {
        line-height: 1.71;
        font-style: normal;
        margin-top: 20px;
        text-align: left;
        margin-bottom: 0px;
    }
    
    .contact {
        display: block;
        margin-right: 70px;
        flex-direction: column;
    }
    
    .contact__menu:not(:nth-child(3)) {
        margin-bottom: 9px;
        text-align: left;
    }
    
    
    .contact__menu-map {
        color: var(--secondary-text-color-theme-light);
        transition: color var(--transition-duration-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .contact__menu-mail {
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid var(--secondary-color-dark);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        transition: color var(--transition-duration-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    
    .contact__menu-tel {
        color: rgba(255, 255, 255, 0.6);
        transition: color var(--transition-duration-function);
        text-align: left;
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    
    .page-footer__container-soc {
        display: block;
    }
    
    .soc-name {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--secondary-color-light);
        margin-bottom: 20px;
        text-align: left;
    }
    
    .footer-social-list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    
    .footer-social-list__item {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .footer-social-list__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background-color var(--transition-duration-function);
    
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
    
    .footer-social-list__icon {
        width: 20px;
        height: 20px;
        fill: var(--secondary-color-light);
    }
}