@media screen and (min-width: 320px) {
    .menu__link {
        display: none;
    }

    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }

    .page-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ECECEC;
    }

    .logo-header {
        font-family: var(--secondary-font);
        @include font(24px, 700, 28px);
        color: var(--secondary-color-dark);
    }

    .logo-header__part1 {
        color: var(--accent-color);
    }

    .contact__link {
        display: none;
    }

}


@media screen and (min-width: 480px) {
    .menu__link {
        display: none;
    }

    .open-mobile-menu-btn {
        line-height: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .open-mobile-menu-btn__icon {
        width: 40px;
        height: 40px;
    }

    .page-header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ECECEC;
    }

    .logo-header {
        font-family: var(--secondary-font);
        @include font(24px, 700, 28px);
        color: var(--secondary-color-dark);
    }

    .logo-header__part1 {
        color: var(--accent-color);
    }

    .contact__link {
        display: none;
    }

}


@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .page-header {
        display: flex;
        padding-top: 21px;
        padding-bottom: 21px;
        border-bottom: 1px solid #ECECEC;
    }

    .page-header__container {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .logo-header {
        font-family: var(--secondary-font);
        @include font(24px, 700, 28px);
        color: var(--secondary-color-dark);
        margin-right: 87px;
        letter-spacing: 0.03em;
    }

    .logo-header__part1 {
        color: var(--accent-color);
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-left: auto;
        margin-right: 96px;
    }

    .menu__link {
        display: flex;
        align-items: center;
        column-gap: 30px;
        position: relative;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-dark);
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.caren-studio::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: var(--accent-color);
            border-radius: 2px;
            bottom: 0;
            left: 0;
            top: 44px;
            transition: color var(--transition-duration-function);
        }
    }

    .menu__item {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }


    .contact__link {
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: .02em;
        color: #757575;
        -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .page-header__contact-mail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 138px;
        height: 14px;
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .page-header__icon-mail,
        &:focus .page-header__icon-mail {
            fill: currentColor;
        }
    }

    .page-header__contact-phone-number {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 123px;
        height: 14px;
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .page-header__icon-mobile,
        &:focus .page-header__icon-mobile {
            fill: currentColor;
        }
    }

    .page-header__contact-mail,
    .page-header__contact-phone-number {
        color: var(--primary-text-color-theme-gray);
    }

    .page-header__icon-mail {
        content: '';
        width: 14px;
        height: 10px;
        fill: var(--primary-text-color-theme-gray);
        transition: fill var(--transition-duration-function);
    }

    .page-header__icon-mobile {
        width: 10px;
        height: 14px;
        fill: var(--primary-text-color-theme-gray);
        transition: fill var(--transition-duration-function);
    }
}



@media screen and (min-width: 1200px) {
    .page-header {
        padding-top: 24px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ECECEC;
    }

    .page-header__container {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .logo-header {
        font-family: var(--secondary-font);
        @include font(26px, 700, 31px);
        color: var(--secondary-color-dark);
        margin-right: 93px;
    }

    .logo-header__part1 {
        color: var(--accent-color);
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-left: auto;
        margin-right: 318px;
    }

    .menu__link {
        display: flex;
        column-gap: 30px;
        position: relative;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-dark);
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.caren-studio::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: var(--accent-color);
            border-radius: 2px;
            bottom: 0;
            left: 0;
            top: 44px;
            transition: color var(--transition-duration-function);
        }
    }

    .menu__item {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .contact__item {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .contact__link {
        display: flex;
        column-gap: 30px;
        position: relative;
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-dark);
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.caren-studio::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: var(--accent-color);
            border-radius: 2px;
            bottom: 0;
            left: 0;
            top: 44px;
            transition: color var(--transition-duration-function);
        }
    }

    .page-header__contact-mail {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 161px;
        height: 16px;
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .page-header__icon-mail,
        &:focus .page-header__icon-mail {
            fill: currentColor;
        }
    }

    .page-header__contact-phone-number {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 142px;
        height: 16px;
        transition: color var(--transition-duration-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &:hover .page-header__icon-mobile,
        &:focus .page-header__icon-mobile {
            fill: currentColor;
        }
    }

    .page-header__contact-mail,
    .page-header__contact-phone-number {
        color: var(--primary-text-color-theme-gray);
    }

    .page-header__icon-mail {
        content: '';
        width: 100%;
        height: 100%;
        fill: var(--primary-text-color-theme-gray);
        transition: fill var(--transition-duration-function);
    }

    .page-header__icon-mobile {
        width: 100%;
        height: 100%;
        fill: var(--primary-text-color-theme-gray);
        transition: fill var(--transition-duration-function);
    }
}