.footer-main {
    margin-right: 0;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.6);
}

.footer-main__title {
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 20px;
    margin-top: 60px;
    text-align: center;
}

.footer-main__label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main__input {
    width: 100%;
    height: 50px;
    color: var(--secondary-text-color-theme-light);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--secondary-text-color-theme-dark);
    padding: 15px 16px;
    margin-bottom: 20px;
    transition: border-color var(--transition-duration-function);
    
    &:focus {
        border-color: var(--accent-color);
         outline: none;
    }
}

.footer-main__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    max-width: 200px;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--secondary-text-color-theme-light);
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main__icon {
    margin-left: 10px;
    fill: var(--secondary-color-light);
}

@media screen and (min-width: 480px) {
    .footer-main__input {
        width: 450px;
    }

    .footer-main__button {
        width: 200px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-main__label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }
    
    .footer-main__button{
        width: 200px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-main__input {
        width: 450px;
    }

    .footer-main__title {
        margin-top: 0px;
    }
        
}

@media screen and (min-width: 1200px) {
    .footer-main {
        margin-right: 0;
        margin-left: auto;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .footer-main__title {
        @include font(14px, 700, 16px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color-theme-light);
        margin-bottom: 20px;
        margin-top: 0;
        text-align: left;
    }
    
    .footer-main__label {
        display: flex;
        flex-direction: row;
        align-items: normal;

    }
    
    .footer-main__input {
        width: 358px;
        height: 50px;
        color: var(--secondary-text-color-theme-light);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: var(--secondary-text-color-theme-dark);
        padding: 15px 16px;
        transition: border-color var(--transition-duration-function);
    
        &:focus {
            border-color: var(--accent-color);
            outline: none;
        }
    }
    
    .footer-main__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        min-width: 200px;
        height: 50px;
        padding: 10px;
        background-color: var(--accent-color);
        color: var(--secondary-text-color-theme-light);
        border: none;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }
    
    .footer-main__icon {
        margin-left: 10px;
        fill: var(--secondary-color-light);
    }
}