@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-duration-function), visibility var(--transition-duration-function);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__container {
        position: relative;
        padding: 48px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: 0;
        padding: 0;
        line-height: 0;
        background-color: rgba(0, 0, 0, 0);
    }


    .mobile-menu__close-icon {
        width: 40px;
        height: 40px;
        fill: #212121;
    }

    .mobile-menu__close-btn:hover,
    .mobile-menu__close-btn:focus {
        background-color: #2196F3;
        cursor: pointer;
    }

    .mobile-menu__close-btn:hover .modal-close-icon,
    .mobile-menu__close-btn:focus .modal-close-icon {
        fill: var(--accent-color);
    }

    .mobile-menu__navigation-list {
        list-style: none;
        margin-bottom: auto;
    }

    .mobile-menu__navigation-item:not(:last-child),
    .mobile-menu__contacts-item:first-child {
        margin-bottom: 32px;
    }


    .mobile-menu__navigation-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
    }

    .mobile-menu__navigation-link--current {
        color: #2196f3;
    }


    .mobile-menu__contacts-list {
        list-style: none;
        margin-top: 60px;
        margin-bottom: 64px;
    }


    .mobile-menu__contacts-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    .mobile-menu__contacts-link--blue {
        font-size: 34px;
        line-height: 40px;
        color: #2196F3;
    }

    .mobile-menu__contacts-link--grey {
        font-size: 24px;
        line-height: 28px;
        color: #757575;
    }

    .mobile-menu__socials-list {
        display: flex;
        list-style: none;
    }

    .mobile-menu__socials-item {
        padding-right: 10px;
    }

    .mobile-menu__socials-item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, .2);
        margin-right: 10px;
    }

    .mobile-menu__socials-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
        text-decoration: none;
    }

}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}